# Package Files #
*.jar
*.war
*.ear

/cpw
/ibxm
/net
/paulscode
*.cfg
*.lzma
*.properties
*.png
*.mcpmod
Start.class
*.cfg~
/assets/forge
mcpmod.info
*/.DS_Store
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes